@charset "UTF-8";

header {
    border-radius: 15px;
    background-color: #1384ed;
    text-align: center;
    opacity: 0.7;
}

header h1 {
    font-size: 40px;
    color: #fff;
/*    text-transform: uppercase;*/
}

article {
    -webkit-column-count: 2;
    /*column-count: 2;*/

    -webkit-column-gap: 20px;
    /*column-gap: 20px;*/

    -webkit-column-rule: solid 1px #cccccc;
    /*column-rule: solid 1px #cccccc;*/
}

body {
    font-family: "Helvetica";
    background-image: url(../pics/pink-flowers.webp);
}

footer {
    box-shadow: 2px 5px 10px rgba(0,0,0,0.5);
    text-align: center;
}

footer h1 {
    font-size: 20px;
    color: #ccc;
/*    text-transform: uppercase;*/
}

.sharky {
    color: #0000ff;
}