@charset "UTF-8";
@font-face {
	font-family: UbuntuRegular;
	src: url('../fonts/Ubuntu-Regular.ttf');

    font-family: ShadowsIntoLightRegular;
    src: url('../fonts/ShadowsIntoLight-Regular.ttf');
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 45px;
    background-image: url(../pics/pink-flowers-background.png);
    margin: 0px;
    padding: 0px;
    width: 100%;
}

/* === HEADER === */
header {
    background-image: -webkit-linear-gradient(top, rgb(88, 29, 29), rgb(238, 178, 178));
    text-align: center;
    width: 100%;
    top: 0px;
    z-index: 100;
}
header h1 {
    font-size: 30px;
    padding-top: 10px;
    margin: 0px;
    color: rgb(224, 196, 183);
}
header h2 {
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 15px;
    color: rgb(88, 29, 29);
    text-shadow: 2px 2px rgb(238, 178, 178);
}

/* === MAIN === */
.frame {
    border: 15px solid #fff;
    background: url(../pics/splash-ipad-landscape.png);
    background-color: #efefef;
    background-size:cover;
    width: 350px;
    height: 240px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    transition: all 1s ease-in-out;
    margin: auto;
    margin-top: 22px;
}
.content {
    padding: 0 18px;
    background-color: #f1f1f1;
    border-radius: 10px;
    opacity: 0.9;
    font-family: 'Shadows Into Light', cursive;
    font-size: 45px;
    position:relative;

}

/* === FOOTER === */
footer {
    position:absolute;
    bottom:0;
}
button {
    font-family: 'Ubuntu', sans-serif;
}
.btn-group {
    width: 100%;
    box-shadow: 2px 5px 10px rgba(0,0,0,0.5);
}
.btn-group button {
    font-size: 26px;
    background-color: #04AA6D; /* Green background */
    background-image: -webkit-linear-gradient(top, rgb(88, 29, 29), rgb(238, 178, 178));
    border: 1px solid green; /* Green border */
    border-radius: 4px; /* Rounded buttons */
    color: white; /* White text */
    padding: 20px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}
.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}
/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}
/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}

.content {
    text-align: center;
}